.promo__header {
  margin: 0 -70px;
  padding: 18px 70px;
  max-width: 1140px;
  width: 100%;
  background-color: #073042;
  display: flex;
justify-content: space-between;
min-height: 74px;
}

.promo__header-logo {
  width: 38px;
  height: 38px;
}

.promo__navigation {
  width: 100%;
  max-width: 183px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.promo__register-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
font-weight: 500;
line-height: 16px;
width: 77px;
height: 16px;
padding: 0;
}

.promo__login-btn {
  border-radius: 3px;
background: #3DDC84;
border: none;
padding: 0;
width: 76px;
height: 32px;
}
