.movies-cardlist {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto 28px;
  max-height: 1200px;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  row-gap: 60px;
  column-gap: 30px;
  grid-template-rows: repeat(4, 1fr);
}

@media screen and (max-width: 780px) {
  .movies-cardlist {
    grid-template-columns: repeat(2, minmax(min-content, max-content));
  row-gap: 47px;
  column-gap: 30px;
  grid-template-rows: repeat(4, 1fr);
  }
} 