.movies-card {
  max-width: 360px;
  width: 100%;
  min-height: 231px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
}

.movies-card__image {
  width: 100%;
  min-height: 201px;
  margin: 0 0 14px;
  object-fit: cover;
}

.movies-card__info {
  min-width: 90%;
  width: 100%;
  padding: 0 14px;
  display: flex;
  justify-content: space-between;
}

.movies-card__save {
  position: absolute;
  top: 13px;
  right: 15px;
  width: 72px;
  height: 21px;
  border: none;
  background-color: #313131;
  border-radius: 30px;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  padding: 0;
}

.movies-card__save:hover {
  opacity: 0.800000011920929;
}

.movies-card__like {
  position: absolute;
  top: 14px;
  right: 14px;
  display: none;
  width: 20px;
  height: 20px;
  background-image: url(../../images/save.svg);
  background-color: transparent;
  background-size: cover;
  cursor: pointer;
  border: none;
  padding: 0;
}

.movies-card__like:hover {
  opacity: 0.800000011920929;
}

.movies-card__like_active {
display: block;
}

.movies-card__delete {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 14px;
  right: 14px;
  background-image: url(../../images/close-icon.svg);
  background-color: transparent;
  background-size: cover;
  cursor: pointer;
  border: none;
  padding: 0;
}

.movies-card__delete:hover {
  opacity: 0.800000011920929;
}

.movies-card__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movies-card__duration {
  display: inline-block;
  vertical-align: middle;
  color: #8b8b8b;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  margin: 0;
  text-align: center;
  width: 52px;
  height: 18px;
  border-radius: 3px;
  background: #2f2f2f;
}

@media screen and (max-width: 800px) {
  .movies-card {
    max-width: 360px;
    width: 100%;
    min-height: 231px;
  }

  .movies-card__image {
    min-height: 190px;
    margin-bottom: 25px;
  }

  .movies-card__info {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 445px) {
  .movies-card {
    margin: 0 auto;
    min-height: 199px;
  }

  .movies-card__image {
    min-height: 168px;
    margin-bottom: 16px;
  }

  .movies-card__title {
    font-size: 12px;
  }
}
