.movies-content {
  padding-top: 144px;
}

@media screen and (max-width: 800px) {
  .movies-content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 160px;
  }
}

@media screen and (max-width: 400px) {
  .movies-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 167px;
  }
}