.portfolio {
  margin: 0 auto;
  width: 100%;
  padding: 0 70px 105px;
  box-sizing: border-box;
}

.portfolio__title {
  margin: 0 0 44px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #8b8b8b;
}

.portfolio__navigation {
  margin: 0 auto;
  width: 100%;
}

.portfolio__list-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* .portfolio__list-item {
  min-height: 80px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #424242;
} */
.portfolio__list-item {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.portfolio__list-item:not(:last-child) {
  border-bottom: 1px solid #424242;
}

.portfolio__item {
  padding: 0 0 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__btn-arrow {
  width: 29px;
  height: 60px;
  background-image: url(../../images/arrow.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  background-size: fill;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .portfolio {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;

  }

  .portfolio__item {
    letter-spacing: -1.12px;
    font-size: 28px;
  }
}
