html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  color: #fff;
font-size: 0;
  background-color: #202020;
}
