.page {
  font-family: "Inter", Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  color: #fff;

  background-color: #202020;
}
/* *{outline: 1px solid red;} */
