.register__container-logo {
  max-width: 396px;
  margin: 0 auto 40px;
}

.register__logo {
  width: 38px;
  height: 38px;
  object-fit: fill;
}

@media screen and (max-width: 400px) {
  .register {
    padding-top: 56px;
  }

  .register__container-logo {
    max-width: 260px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}
