.more {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.more__btn {
  width: 320px;
  height: 36px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #fff;
  padding: 0;
  margin: 0 auto;
  background-color: #2F2F2F;
  cursor: pointer;
}

@media screen and (max-width: 440px) {
  .more__btn {
    width: 240px;
  }
}