.header__navigation {
  display: flex;
  justify-content: space-between;
  max-width: 381px;
  width: 100%;
  align-items: center
}

.header__profile {
  display: flex;
  justify-content: space-between;
  max-width: 100px;
  width: 100%;
  align-items: center;
  text-decoration: none;
}

.header__links {
  display: flex;
  justify-content: space-between;
  max-width: 231px;
  width: 100%;
}

.header__link {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}

.header__link_is-active {
  font-weight: 500px;
}