.search-form {
  border-bottom: 1px solid #424242;
  width: 100%;
  margin: 0 auto 31px;
  display: flex;
  justify-content: space-between;
  padding-left: 6px;
  padding-bottom: 13px;
  box-sizing: border-box;
}

.search-form__input {
  color: #8B8B8B;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  width: 100%;
  max-width: 1072px;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  padding: 0;
}

.search-form__button {
  padding: 0;
  background-image: url(../../images/find.svg);
  max-width: 34px;
  width: 100%;
  height: 34px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  object-fit: fill;
}

.search-form__icon {
  width: 34px;
  height: 34px;
}

@media screen and (max-width: 400px) {
  .search-form {
    max-width: 292px;
    padding-left: 0;
    padding-bottom: 8px;
    margin-bottom: 43px;
  }
  .search-form__icon {
    display: none;
  }
  .search-form__input {
    font-size: 18px;
    text-align: left;
  }
}