.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 70px;
  min-height: 74px;
  box-sizing: border-box;
  position: fixed;
  background-color: #07304200;
  z-index: 999;
  left: 0;
  right: 0;top: 0;
}
.header__burger{
  display: none;
  background-image: url(/src/images/burger-icon.svg);
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
}

.header__logo {
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 800px) {
  .header {
    padding: 0 30px;
  }
  .header__burger{
    display: block;
  }

}

@media screen and (max-width: 400px) {
  .header {
    padding-left: 14px;
    padding-right: 18px;
  }
  .header__burger{
    width: 34px;
    height: 37px;
    background-size: cover;
  }
}