.about-project {
  background-color: #202020;
  padding: 110px 70px;
  box-sizing: border-box;
}

.about-project__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  margin: 0 0 70px;
  padding: 0 0 23px;
  border-bottom: 1px solid #DADADA;
  letter-spacing: -0.88px;
}

.about-project__description {
  display: grid;
  grid-template-columns: repeat(2, minmax(319px, 500px));
  justify-content: space-between;
  gap: 40px;
}

.about-project__block {
  width: 100%;
  max-width: 500px;
  margin-bottom: 110px;
  /* padding-right: calc(min(197px, max(30px, calc((100% - 227px) / 2)))); */
}

.about-project__block:last-of-type {
  padding-right: 0;
  margin-right: 0;
}

.about-project__subtitle {
  margin: 0 0 26px;
  font-weight: 400;
  line-height: 24px;
  font-size: 20px;
letter-spacing: -0.8px;
}

.about-project__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.about-project__scale {
  width: 100%;
  display: flex;
}

.about-project__scale-block-backend {
width: 25%;
}

.about-project__scale-block-frontend {
  width: 75%;
}

.about-project__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  padding: 0;
  margin: 0 auto 14px;
}

.about-project__item_type_first-block {
  color: #000000;
  background-color: #3DDC84;
}

.about-project__item_type_second-block {
  background-color: #303030;
}

.about-project__theme {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px){
  .about-project__description {
gap: 30px;
  }
  .about-project__block {
    margin-bottom: 93px;
    max-width: 319px;
margin-right: 40px;
  }
  .about-project__title {
    font-size: 20px;
  }

  .about-project__subtitle{
    font-size: 12px;
line-height: 18px;
  }
}