.footer {
  padding: 79px 70px 20px;
  margin: 0 auto;
  text-align: center;
}

.footer__description {
  color: #8b8b8b;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 0 auto 20px;
}

.footer__navigation {
  border-top: 1px solid #424242;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.footer__year {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
}

.footer__naviganion-links {
  margin: 0;
  max-width: 182px;
  width: 100%;
}

.footer__list-links {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
