.techs {
  background-color: #272727;
}

.techs__title {
  margin-bottom: 90px;
  padding-bottom: 24px;
}

.techs__description {
  padding-top: 30px;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 100px;
}

.techs__subtitle {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0 auto 26px;
  text-align: center;
}

.techs__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.techs__technologies {
  /* margin: 0 auto;
  max-width: 690px;
  width: 100%;
  display: flex;
  justify-content: space-between; */
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  justify-content: center;
  gap: 10px;
}

.techs__item {
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  border-radius: 10px;
  background-color: #303030;
}

@media screen and (max-width: 800px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__title {
    margin-bottom: 80px;
  }

  .techs__subtitle {
    margin-bottom: 22px;
  }

  .techs__text {
    max-width: 450px;
    margin-bottom: 22px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.04em;
  }

  .techs__description {
    max-width: 460px;
    margin-bottom: 83px;
    padding-top: 21px;
  }

  .techs__technologies {
    grid-template-columns: repeat(auto-fit, 84px);
  }

  .techs__item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 400px) {
  .techs__subtitle {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
    margin-bottom: 24px;
  }

  .techs__description {
    max-width: 292px;
    margin-bottom: 50px;
    padding-top: 0;
  }

  .techs__text {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }

  .techs__technologies {
    max-width: 180px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .techs__item {
    letter-spacing: -0.48px;
  }
}
