.login {
  padding-top: 70px;
  max-width: 396px;
  margin: 0 auto;
}

.login__title {
  max-width: 396px;
  font-size: 24px;
  font-weight: 500;
  margin: 41px auto 32px;
}

.login__form {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
}

.auth__span {
  color: #8b8b8b;
  font-size: 10px;
  margin-bottom: 10px;
}

.auth__label {
  display: flex;
  flex-direction: column-reverse;
}

.login__label:first-child {
  margin: 10px 0;
}

.auth__input:focus ~ .auth__span {
  color: #fff;
}

.auth__input {
  outline: none;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #2f2f2f;
  /*margin-bottom: 10px;*/
  font-size: 13px;
  color: #fff;
  padding: 15px;
}

.login__input:invalid {
  color: var(--color-error);
}

.login__error {
  padding: 0;
  color: var(--color-error);
  font-weight: 400;
  font-size: 10px;
  min-height: 23px;
  opacity: 1;
}

.login__login-button {
  margin: 155px auto 16px;
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: #4285f4;
  color: #fff;
  height: 44px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.login__login-button:hover {
  opacity: 0.8;
}

.login__login-button:disabled {
  color: #c2c2c2;
  background: #f8f8f8;
  cursor: not-allowed;
}

.login__login-button_disabled:hover {
  opacity: 1;
}

.login__login {
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
}

.login__login-link {
  text-decoration: none;
  color: #4285f4;
  text-align: center;
  font-size: 14px;
}

.login__login-link:hover {
  opacity: 0.699999988079071;
}

@media screen and (max-width: 800px) {
  .login {
    padding-top: 232px;
    padding-bottom: 232px;
  }
}

@media screen and (max-width: 400px) {
  .login {
    padding-top: 56px;
    padding-bottom: 30px;

  }

  .login__title {
    max-width: 260px;
    margin-bottom: 74px;
    text-align: center;
  }

  .login__form {
    max-width: 260px;
  }

  .login__login-button {
    margin: 258px auto 14px;
    height: 45px;
    font-size: 12px;
  }

  .login__login {
    font-size: 12px;
  }

  .login__login-link {
    font-size: 12px;
  }
}
