.about-me {
  margin: 0 auto;
  padding: 110px 70px 0;
}

.about-me__title {
  margin-bottom: 66px;
}

.about-me__info {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about-me__profile {
  margin: 0 0 101px;
  max-width: 600px;
  width: 100%;
}

.about-me__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0 0 18px;
}

.about-me__profession {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 26px;
}

.about-me__description {
  margin: 0 0 99px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.about-me__github {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: fill;
  object-position: center;
}

.link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__title {
    margin-bottom: 66px;
  }

  .about-me__name {
  }
}
