.about-me {
  margin: 0 auto;
  padding: 110px 0 125px;
}

.about-me__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  margin: 0 0 70px;
  padding: 0 0 23px;
  border-bottom: 1px solid #DADADA;
  letter-spacing: -4%;
}

.about-me__info {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about-me__profile {
  margin: 0 0 101px;
  max-width: 600px;
  width: 100%;
}

.about-me__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -4%;
  margin: 0 0 18px;
}

.about-me__profession {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 26px;
}

.about-me__description {
  margin: 0 0 99px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.about-me__github {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: fill;
  object-position: center;
}

.about-me__portfolio {
  margin: 0 auto 125px;
  width: 100%;
}

.about-me__portfolio-title {
  margin: 0 0 50px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #8B8B8B;
}

.about-me__navigation {
  margin: 0 auto;
  width: 100%;
}

.about-me__list-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-me__list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
}

.about-me__item {
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: -4%;
  padding: 20px 0;
}

.about-me__btn-arrow {
  width: 29px;
  height: 60px;
  background-image: url(../../images/arrow.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  background-size: fill;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}